body {
  margin: 0;
  padding: 0;
}


/*
  Parent container - (Flex)
*/
ul {
  background-color: lightslategray;
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap; /* default */
  /* justify-content: flex-start; default */
  justify-content: flex-end;
}

/*
  Child container - (Flex Item)
*/
li {
  background-color: cadetblue;
}

li a, a:active {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}

li a:hover {
  background-color: beige;
  color: brown;
}

@media (max-width: 800px) {

  ul {
    justify-content: center;
  }

}

@media (max-width: 500px) {
  ul {
    flex-flow: column nowrap;
    justify-content: center;
  }

  li {
    text-align: center;
    border-top: 1px solid darkcyan;
  }
}